<div>
  <ul>
    <li>Sign up as a <%= link_to 'requester', new_requester_registration_path %></li>
    <li>Sign up as a <%= link_to 'designer', new_designer_registration_path %></li>
    <li>Login as a <%= link_to 'requester', new_requester_session_path%></li>
    <li>Login as a <%= link_to 'designer', new_designer_session_path%></li>
  </ul>
</div>